body {
    background-color: tan;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom:100px ;
    margin-right: 100px;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }
  